<div class="container">
  <button class="btn btn-danger" (click)="signOut()">Sign Out</button>
</div>

<div class="container" *ngIf="customer?.paymentMethods.length > 0">
  <div class="row">
    <div class="col-6" *ngIf="activeSubscriptions.length > 0">
      <h1>Active Subscriptions</h1>
      <div class="card" *ngFor="let subscription of activeSubscriptions">
        <div class="card-body">
          <h5 class="card-title">
            <b>{{ subscription.planId }} </b>
            <small class="text-muted">(ID: {{ subscription.id }})</small>
          </h5>
          <p class="card-text">
            Subscription Started: {{ subscription.firstBillingDate }}
          </p>
          <p class="card-text">
            Next Billing Date: {{ subscription.nextBillingDate }}
          </p>
          <p class="card-text">Price: {{ subscription.price | currency }}</p>
          <p class="card-text">
            <small>Last Update: {{ subscription.updatedAt }}</small>
          </p>
          <hr />
          <button
            class="btn btn-info"
            (click)="modifySubscription(subscription)"
          >
            Modify
          </button>
          <button
            class="btn btn-danger"
            (click)="cancelSubscription(subscription.id)"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>

    <div class="col-6" *ngIf="canceledSubscriptions.length > 0">
      <h1>Canceled Subscriptions</h1>
      <div class="card" *ngFor="let subscription of canceledSubscriptions">
        <div class="card-body">
          <h5 class="card-title">
            <b>{{ subscription.planId }} </b>
            <small class="text-muted">(ID: {{ subscription.id }})</small>
          </h5>
          <p class="card-text">
            Subscription Started: {{ subscription.firstBillingDate }}
          </p>
          <p class="card-text">
            Subscription Canceled: {{ subscription.updatedAt }}
          </p>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div *ngIf="activeSubscriptions.length <= 0">
    <h1>
      Sign up for subscriptions
    </h1>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Payment Info</h5>
        <p class="card-text">Card Type: {{ activePaymentMethod.cardType }}</p>
        <p class="card-text">
          Card Number: {{ activePaymentMethod.maskedNumber }}
        </p>
      </div>
    </div>

    <div>
      <h4>Select Subscription:</h4>
      <div class="row">
        <div class="card col-4" *ngFor="let plan of subscriptionPlans">
          <div class="card-body">
            <h5 class="card-title">{{ plan.name }}</h5>
            <p class="card-text text-muted" *ngIf="plan.trialPeriod">
              Free Trial: {{ plan.trialDuration }} days
            </p>
            <p class="card-text">
              {{ plan.price | currency }} /
              {{ plan.billingFrequency === 1 ? 'month' : 'year' }}
            </p>
            <button
              class="btn btn-outline-primary"
              (click)="signUpSubscription(plan)"
            >
              Sign up
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
