<div class="modal-header">
  <h4 class="modal-title">{{ plan.name }}</h4>
</div>
<div class="modal-body">
  <p><strong>Price</strong>: {{ plan.price | currency }}</p>
  <p><strong>Tax</strong>: {{ tax | currency }}</p>
  <p><strong>Total</strong>: {{ total | currency }}</p>
  <button class="btn btn-success" (click)="subscribe()">Subscribe</button>
  <button class="btn btn-danger" (click)="dismiss()">Cancel</button>
</div>
