<form
  action="/checkout"
  id="hosted-fields-form"
  method="post"
  (submit)="onSubmit($event)"
  #hostedFieldsForm
>
  <label for="card-number">Card Number</label>
  <div id="card-number"></div>

  <label for="cvv">CVV</label>
  <div id="cvv"></div>

  <label for="expiration-date">Expiration Date</label>
  <div id="expiration-date"></div>

  <div id="checkout-message"></div>

  <input type="submit" value="Pay" disabled #submit />
</form>

<ng-container [ngSwitch]="checkoutSuccess">
  <div *ngSwitchCase="true">
    <h1>Success</h1>
    <p>
      Your Hosted Fields form is working! Check your
      <a href="https://sandbox.braintreegateway.com/login"
        >sandbox Control Panel</a
      >
      for your test transactions.
    </p>
    <p>Refresh to try another transaction.</p>
  </div>
  <div *ngSwitchCase="false">
    <h1>Error</h1>
    <p>Check your console.</p>
  </div>
</ng-container>
