<div class="modal-header">
  <h4 class="modal-title">Change Subscription Plan:</h4>
</div>
<div class="modal-body">
  <div class="row" *ngFor="let plan of displayedPlans">
    <div class="col">
      <h5>{{ plan.name }}</h5>
      <p class="text-muted">Price: {{ plan.price | currency }} / month</p>
      <button class="btn btn-primary" (click)="modify(plan.id)">Select</button>
      <hr />
    </div>
  </div>
</div>
