<div class="container">
  <h1>Sign up</h1>
  <form
    action="/customer"
    id="hosted-fields-form"
    method="post"
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit($event)"
    #hostedFieldsForm
  >
    <div class="row">
      <div class="form-group col-4">
        <label for="first-name"
          >First Name:
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            placeholder="John"
          />
        </label>
      </div>

      <div class="form-group col-4">
        <label for="last-name"
          >Last Name:
          <input
            type="text"
            class="form-control"
            formControlName="lastName"
            placeholder="Doe"
          />
        </label>
      </div>

      <div class="form-group col-4">
        <label for="company"
          >Company:
          <input type="text" class="form-control" formControlName="company"
        /></label>
      </div>

      <div class="form-group col-4">
        <label for="email"
          >Email:
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="john.doe@gmail.com"
        /></label>
      </div>

      <div class="form-group col-4">
        <label for="phone"
          >Phone Number:
          <input type="tel" class="form-control" formControlName="phone"
        /></label>
      </div>

      <div class="form-group col-4">
        <label for="website"
          >Website:
          <input type="url" class="form-control" formControlName="website"
        /></label>
      </div>

      <div class="hosted-fields col-4">
        <label for="card-number">Card Number</label>
        <div class="form-control" id="card-number"></div>

        <label for="cvv">CVV</label>
        <div class="form-control" id="cvv"></div>

        <label for="expiration-date">Expiration Date</label>
        <div class="form-control" id="expiration-date"></div>

        <label for="zip">Postal Code</label>
        <div class="form-control" id="zip"></div>
      </div>

      <div class="col-12">
        <input
          type="submit"
          value="Create Customer"
          class="btn btn-primary"
          disabled
          #submit
        />
      </div>
    </div>
  </form>
</div>
